# Introduction to Pandas2

### Value Counts

In [6]:
import pandas as pd

In [7]:
# import volcano dataframe
df_volcano = pd.read_csv('volcano.csv')
df_volcano

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,subregion,latitude,longitude,elevation,...,major_rock_5,minor_rock_1,minor_rock_2,minor_rock_3,minor_rock_4,minor_rock_5,population_within_5_km,population_within_10_km,population_within_30_km,population_within_100_km
0,283001,Abu,Shield(s),-6850,Japan,"Japan, Taiwan, Marianas",Honshu,34.500,131.600,641,...,,,,,,,3597,9594,117805,4071152
1,355096,Acamarachi,Stratovolcano,Unknown,Chile,South America,"Northern Chile, Bolivia and Argentina",-23.292,-67.618,6023,...,,,,,,,0,7,294,9092
2,342080,Acatenango,Stratovolcano(es),1972,Guatemala,México and Central America,Guatemala,14.501,-90.876,3976,...,,Basalt / Picro-Basalt,,,,,4329,60730,1042836,7634778
3,213004,Acigol-Nevsehir,Caldera,-2080,Turkey,Mediterranean and Western Asia,Turkey,38.537,34.621,1683,...,,,,,,,127863,127863,218469,2253483
4,321040,Adams,Stratovolcano,950,United States,Canada and Western USA,USA (Washington),46.206,-121.490,3742,...,,Dacite,,,,,0,70,4019,393303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,300242,Zimina,Stratovolcano(es),Unknown,Russia,Kamchatka and Mainland Asia,Kamchatka Peninsula,55.862,160.603,3057,...,,,,,,,0,0,77,11184
954,341061,Zitacuaro-Valle de Bravo,Caldera,-3050,Mexico,México and Central America,Mexico,19.400,-100.250,3500,...,,Trachyandesite / Basaltic Trachyandesite,Trachybasalt / Tephrite Basanite,,,,231977,231977,490440,4838069
955,221020,Zubair Group,Shield,2013,Yemen,Africa and Red Sea,Africa (northeastern) and Red Sea,15.050,42.180,191,...,,,,,,,7,7,7,671171
956,221021,Zukur,Shield,Unknown,Yemen,Africa and Red Sea,Africa (northeastern) and Red Sea,14.020,42.750,624,...,,,,,,,508,922,1075,1472800
957,327120,Zuni-Bandera,Volcanic field,-1170,United States,Canada and Western USA,USA (New Mexico),34.800,-108.000,2550,...,,,,,,,18,18,246,54738

In [12]:
#  Counting country elements
# len function
print(len(df_volcano['country']))
# .count() method
print(df_volcano['country'].count())

958
958

In [14]:
# Counting elements by category(volcanoes per country)
df_volcano['country'].value_counts()

United States              99
Indonesia                  95
Japan                      92
Russia                     79
Chile                      43
                           ..
North Korea-South Korea     1
Guatemala-El Salvador       1
Colombia-Ecuador            1
Djibouti                    1
Germany                     1
Name: country, Length: 89, dtype: int64

In [15]:
# return the relative frequency (divide all values by the sum of values)
df_volcano['country'].value_counts(normalize=True)

United States              0.103340
Indonesia                  0.099165
Japan                      0.096033
Russia                     0.082463
Chile                      0.044885
                             ...
North Korea-South Korea    0.001044
Guatemala-El Salvador      0.001044
Colombia-Ecuador           0.001044
Djibouti                   0.001044
Germany                    0.001044
Name: country, Length: 89, dtype: float64

In [17]:
# Counting "primary_volcano_type" elements by category
df_volcano['primary_volcano_type'].value_counts()

Stratovolcano          353
Stratovolcano(es)      107
Shield                  85
Volcanic field          71
Pyroclastic cone(s)     70
Caldera                 65
Complex                 46
Shield(s)               33
Submarine               27
Lava dome(s)            26
Fissure vent(s)         12
Caldera(s)               9
Compound                 9
Maar(s)                  8
Pyroclastic shield       7
Tuff cone(s)             7
Crater rows              5
Subglacial               5
Pyroclastic cone         4
Lava dome                3
Lava cone                1
Complex(es)              1
Lava cone(s)             1
Tuff cone                1
Lava cone(es)            1
Stratovolcano?           1
Name: primary_volcano_type, dtype: int64

In [22]:
# Return the relative frequency and round to 4 decimals
df_volcano['primary_volcano_type'].value_counts(normalize=True).round(4)

Stratovolcano          0.3685
Stratovolcano(es)      0.1117
Shield                 0.0887
Volcanic field         0.0741
Pyroclastic cone(s)    0.0731
Caldera                0.0678
Complex                0.0480
Shield(s)              0.0344
Submarine              0.0282
Lava dome(s)           0.0271
Fissure vent(s)        0.0125
Caldera(s)             0.0094
Compound               0.0094
Maar(s)                0.0084
Pyroclastic shield     0.0073
Tuff cone(s)           0.0073
Crater rows            0.0052
Subglacial             0.0052
Pyroclastic cone       0.0042
Lava dome              0.0031
Lava cone              0.0010
Complex(es)            0.0010
Lava cone(s)           0.0010
Tuff cone              0.0010
Lava cone(es)          0.0010
Stratovolcano?         0.0010
Name: primary_volcano_type, dtype: float64

### Sort  a dataframe

In [30]:
# Sort by one column
df_volcano.sort_values('last_eruption_year')

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,subregion,latitude,longitude,elevation,...,major_rock_5,minor_rock_1,minor_rock_2,minor_rock_3,minor_rock_4,minor_rock_5,population_within_5_km,population_within_10_km,population_within_30_km,population_within_100_km
916,211003,Vulsini,Caldera,-104,Italy,Mediterranean and Western Asia,Italy,42.600,11.930,800,...,Phono-tephrite / Tephri-phonolite,,,,,,71789,71789,195475,4627250
350,222161,Igwisi Hills,Pyroclastic cone(s),-10450,Tanzania,Africa and Red Sea,Africa (eastern),-4.889,31.933,1146,...,,,,,,,37034,37034,105827,774440
652,390013,"Pleiades, The",Stratovolcano,-1050,Antarctica,Antarctica,Antarctica and South Sandwich Islands,-72.670,165.500,3040,...,,Trachybasalt / Tephrite Basanite,Phonolite,,,,0,0,0,0
490,255030,Loloru,Pyroclastic shield,-1050,Papua New Guinea,Melanesia and Australia,Bougainville and Solomon Islands,-6.520,155.620,1887,...,,,,,,,1,173,26075,97088
943,285032,Yoteizan,Stratovolcano,-1050,Japan,"Japan, Taiwan, Marianas",Hokkaido,42.827,140.812,1888,...,,,,,,,205,19419,80006,2988960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,253021,Managlase Plateau,Volcanic field,Unknown,Papua New Guinea,Melanesia and Australia,New Guinea and D'Entrecasteaux Islands,-9.080,148.330,1342,...,,,,,,,5732,5732,14700,145917
499,272070,Mahagnao,Stratovolcano,Unknown,Philippines,Philippines and SE Asia,Central Philippines,10.882,124.888,860,...,,,,,,,11,4338,66949,827590
62,273084,Arayat,Stratovolcano,Unknown,Philippines,Philippines and SE Asia,Luzon,15.200,120.742,1026,...,,Trachybasalt / Tephrite Basanite,Andesite / Basaltic Andesite,,,,7846,190674,2805269,27216491
56,343071,Apastepeque Field,Volcanic field,Unknown,El Salvador,México and Central America,El Salvador and Honduras,13.720,-88.770,700,...,,,,,,,377730,377730,687849,6372608
478,320050,Level Mountain,Shield,Unknown,Canada,Canada and Western USA,Canada,58.420,-131.350,2190,...,Phonolite,,,,,,0,0,0,636

In [31]:
# Sort descending by one column
df_volcano.sort_values('last_eruption_year', ascending=False)

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,subregion,latitude,longitude,elevation,...,major_rock_5,minor_rock_1,minor_rock_2,minor_rock_3,minor_rock_4,minor_rock_5,population_within_5_km,population_within_10_km,population_within_30_km,population_within_100_km
386,390829,James Ross Island,Shield,Unknown,Antarctica,Antarctica,Antarctica and South Sandwich Islands,-64.150,-57.750,1630,...,,Andesite / Basaltic Andesite,Trachyte / Trachydacite,,,,0,0,0,0
881,300540,Tuzovsky,Shield(s),Unknown,Russia,Kamchatka and Mainland Asia,Kamchatka Peninsula,57.320,159.967,1516,...,,,,,,,0,0,128,3636
124,300087,Bolshe-Bannaya,Lava dome(s),Unknown,Russia,Kamchatka and Mainland Asia,Kamchatka Peninsula,52.900,157.780,1200,...,,,,,,,0,27,1061,271762
233,300110,Dzenzursky,Compound,Unknown,Russia,Kamchatka and Mainland Asia,Kamchatka Peninsula,53.637,158.922,2285,...,,,,,,,0,0,110,250934
883,300241,Udina,Stratovolcano(es),Unknown,Russia,Kamchatka and Mainland Asia,Kamchatka Peninsula,55.758,160.527,2886,...,,,,,,,0,2,63,10334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,390013,"Pleiades, The",Stratovolcano,-1050,Antarctica,Antarctica,Antarctica and South Sandwich Islands,-72.670,165.500,3040,...,,Trachybasalt / Tephrite Basanite,Phonolite,,,,0,0,0,0
943,285032,Yoteizan,Stratovolcano,-1050,Japan,"Japan, Taiwan, Marianas",Hokkaido,42.827,140.812,1888,...,,,,,,,205,19419,80006,2988960
490,255030,Loloru,Pyroclastic shield,-1050,Papua New Guinea,Melanesia and Australia,Bougainville and Solomon Islands,-6.520,155.620,1887,...,,,,,,,1,173,26075,97088
350,222161,Igwisi Hills,Pyroclastic cone(s),-10450,Tanzania,Africa and Red Sea,Africa (eastern),-4.889,31.933,1146,...,,,,,,,37034,37034,105827,774440
916,211003,Vulsini,Caldera,-104,Italy,Mediterranean and Western Asia,Italy,42.600,11.930,800,...,Phono-tephrite / Tephri-phonolite,,,,,,71789,71789,195475,4627250

In [33]:
# Sort descending by multiple columns
df_volcano.sort_values(['elevation', 'last_eruption_year'], ascending=False)

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,subregion,latitude,longitude,elevation,...,major_rock_5,minor_rock_1,minor_rock_2,minor_rock_3,minor_rock_4,minor_rock_5,population_within_5_km,population_within_10_km,population_within_30_km,population_within_100_km
603,355130,"Ojos del Salado, Nevados",Stratovolcano,750,Chile-Argentina,South America,"Northern Chile, Bolivia and Argentina",-27.109,-68.541,6879,...,,,,,,,0,11,572,10774
635,355012,Parinacota,Stratovolcano,290,Chile-Bolivia,South America,"Northern Chile, Bolivia and Argentina",-18.166,-69.142,6336,...,,,,,,,18,123,3442,63717
663,355107,Pular,Stratovolcano(es),Unknown,Chile,South America,"Northern Chile, Bolivia and Argentina",-24.188,-68.054,6233,...,,,,,,,0,0,50,5000
714,355070,San Pedro-San Pablo,Stratovolcano(es),1960,Chile,South America,"Northern Chile, Bolivia and Argentina",-21.888,-68.391,6142,...,,,,,,,0,156,2349,150795
59,355160,Aracar,Stratovolcano,Unknown,Argentina,South America,"Northern Chile, Bolivia and Argentina",-24.290,-67.783,6095,...,,,,,,,0,0,94,4803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,331010,Endeavour Segment,Submarine,-3490,Canada,Hawaii and Pacific Ocean,Pacific Ocean (northern),47.950,-129.100,-2050,...,,,,,,,0,0,0,0
186,331030,Cleft Segment,Submarine,1986,Undersea Features,Hawaii and Pacific Ocean,Pacific Ocean (northern),44.830,-130.300,-2140,...,,,,,,,0,0,0,0
188,331020,CoAxial Segment,Submarine,1993,Undersea Features,Hawaii and Pacific Ocean,Pacific Ocean (northern),46.520,-129.580,-2400,...,,,,,,,0,0,0,0
276,334070,Galapagos Rift,Submarine,1996,Undersea Features,Hawaii and Pacific Ocean,Pacific Ocean (eastern),0.792,-86.150,-2430,...,,,,,,,0,0,0,0
593,334050,Northern EPR at 9.8°N,Submarine,2006,Undersea Features,Hawaii and Pacific Ocean,Pacific Ocean (eastern),9.830,-104.300,-2500,...,,,,,,,0,0,0,0

In [36]:
# Sort descending by multiple columns and update dataframe
# Sort original dataframe by elevation
df_volcano.sort_values(['elevation', 'last_eruption_year'], ascending=False, inplace=True)

In [37]:
df_volcano

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,subregion,latitude,longitude,elevation,...,major_rock_5,minor_rock_1,minor_rock_2,minor_rock_3,minor_rock_4,minor_rock_5,population_within_5_km,population_within_10_km,population_within_30_km,population_within_100_km
603,355130,"Ojos del Salado, Nevados",Stratovolcano,750,Chile-Argentina,South America,"Northern Chile, Bolivia and Argentina",-27.109,-68.541,6879,...,,,,,,,0,11,572,10774
635,355012,Parinacota,Stratovolcano,290,Chile-Bolivia,South America,"Northern Chile, Bolivia and Argentina",-18.166,-69.142,6336,...,,,,,,,18,123,3442,63717
663,355107,Pular,Stratovolcano(es),Unknown,Chile,South America,"Northern Chile, Bolivia and Argentina",-24.188,-68.054,6233,...,,,,,,,0,0,50,5000
714,355070,San Pedro-San Pablo,Stratovolcano(es),1960,Chile,South America,"Northern Chile, Bolivia and Argentina",-21.888,-68.391,6142,...,,,,,,,0,156,2349,150795
59,355160,Aracar,Stratovolcano,Unknown,Argentina,South America,"Northern Chile, Bolivia and Argentina",-24.290,-67.783,6095,...,,,,,,,0,0,94,4803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,331010,Endeavour Segment,Submarine,-3490,Canada,Hawaii and Pacific Ocean,Pacific Ocean (northern),47.950,-129.100,-2050,...,,,,,,,0,0,0,0
186,331030,Cleft Segment,Submarine,1986,Undersea Features,Hawaii and Pacific Ocean,Pacific Ocean (northern),44.830,-130.300,-2140,...,,,,,,,0,0,0,0
188,331020,CoAxial Segment,Submarine,1993,Undersea Features,Hawaii and Pacific Ocean,Pacific Ocean (northern),46.520,-129.580,-2400,...,,,,,,,0,0,0,0
276,334070,Galapagos Rift,Submarine,1996,Undersea Features,Hawaii and Pacific Ocean,Pacific Ocean (eastern),0.792,-86.150,-2430,...,,,,,,,0,0,0,0
593,334050,Northern EPR at 9.8°N,Submarine,2006,Undersea Features,Hawaii and Pacific Ocean,Pacific Ocean (eastern),9.830,-104.300,-2500,...,,,,,,,0,0,0,0

In [48]:
# Sort descending with a key function
# Use Lambda function
df_volcano.sort_values('volcano_name', ascending=True, key=lambda col:col.str.lower())

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,subregion,latitude,longitude,elevation,...,major_rock_5,minor_rock_1,minor_rock_2,minor_rock_3,minor_rock_4,minor_rock_5,population_within_5_km,population_within_10_km,population_within_30_km,population_within_100_km
0,283001,Abu,Shield(s),-6850,Japan,"Japan, Taiwan, Marianas",Honshu,34.500,131.600,641,...,,,,,,,3597,9594,117805,4071152
1,355096,Acamarachi,Stratovolcano,Unknown,Chile,South America,"Northern Chile, Bolivia and Argentina",-23.292,-67.618,6023,...,,,,,,,0,7,294,9092
2,342080,Acatenango,Stratovolcano(es),1972,Guatemala,México and Central America,Guatemala,14.501,-90.876,3976,...,,Basalt / Picro-Basalt,,,,,4329,60730,1042836,7634778
3,213004,Acigol-Nevsehir,Caldera,-2080,Turkey,Mediterranean and Western Asia,Turkey,38.537,34.621,1683,...,,,,,,,127863,127863,218469,2253483
4,321040,Adams,Stratovolcano,950,United States,Canada and Western USA,USA (Washington),46.206,-121.490,3742,...,,Dacite,,,,,0,70,4019,393303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,300242,Zimina,Stratovolcano(es),Unknown,Russia,Kamchatka and Mainland Asia,Kamchatka Peninsula,55.862,160.603,3057,...,,,,,,,0,0,77,11184
954,341061,Zitacuaro-Valle de Bravo,Caldera,-3050,Mexico,México and Central America,Mexico,19.400,-100.250,3500,...,,Trachyandesite / Basaltic Trachyandesite,Trachybasalt / Tephrite Basanite,,,,231977,231977,490440,4838069
955,221020,Zubair Group,Shield,2013,Yemen,Africa and Red Sea,Africa (northeastern) and Red Sea,15.050,42.180,191,...,,,,,,,7,7,7,671171
956,221021,Zukur,Shield,Unknown,Yemen,Africa and Red Sea,Africa (northeastern) and Red Sea,14.020,42.750,624,...,,,,,,,508,922,1075,1472800
957,327120,Zuni-Bandera,Volcanic field,-1170,United States,Canada and Western USA,USA (New Mexico),34.800,-108.000,2550,...,,,,,,,18,18,246,54738